# Logs
logs
*.log

# Editor directories and files
.zed/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Zig programming language
.zig-cache/
zig-out/
build/
build-*/
docgen_tmp/

# Local files
*.local
